{% extends 'formative.html' %}
{% load static %}
{% load bootstrap3 %}
{% load socialaccount %}
{% providers_media_js %}




{% block body_block %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .h3  {
    text-align: center;
  }
  .noice {

  background-image: url("https://unsplash.com/photos/DgPZndCuTWQ");

  }


</style>
<div class="noice">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<form class="form-signin" method="post">{% csrf_token %}


  <h1 class="h3 mb-3 font-weight-normal">Login</h1>

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

  {% for field in login_form %}
      <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}
  {% if login_form.non_field_errors %}
    <div style="color: red">
      <p>{{login_form.non_field_errors}}</p>
    </div>

  {% endif %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

</form>
<center>
    <div class="d-flex flex-column">
  <a class="m-auto" href="{% url 'password_reset' %}">Reset password</a>
</div>
    <br>
        <p><b>or</b></p>
     <br>
        <div class="google-btn">
            <a href="{% provider_login_url 'google' %}">
            <div class="google-icon-wrapper">

                <img width="30" height="30" class="google-icon"
                     src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                 <p class="btn-text"><b>Sign in with google</b></p>
            </div>

            </a>
        </div>
</center>


</div>







{% endblock %}