<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<p style="font-size: 36px; font-family; Serif; color: rgb(22, 23, 22);">Contact Us</p>
<p style="font-size: 20px; font-family; Serif; color: rgb(22, 23, 22);">Drop in your query and we'll get back to you</p>

<div class="container">
    <form class="form-horizontal" style="width: 50%;" method="post">
        {{form.as_p}}
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>
</body>
</html>