{% extends "formative.html" %}
{% load static %}

{% block head %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'master.css' %}">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flickity@2/dist/flickity.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:200,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .navbar{
         box-shadow: 0 0 1px #333;
  border-style: none;
  background: linear-gradient(180deg, #4B48ED 0%,#0078a8 100%);
  color: white;
  opacity: 0.9;
        }

        #popcart{
            margin-top: 9px;
            background: transparent;
            color: white; 
            border-style: none;
            text-decoration: none;
            box-shadow: none;
            margin-right: 10px;
            text-shadow: none;
        }

    </style>

{% endblock %}




{% block body_block %}



<!-- <div >
{% if painting|length < 1 %}
    <h4 class="jumbotron" style="margin-top:50px; text-align: center; " > ○ You have not added any product into your cart</h4>
{% else %}

        <h4 class="jumbotron" style="margin-top:50px; text-align: center; "> ○ Items that you have added to your cart</h4>

{% endif %}
</div>
 -->



<div class="container">
<div class="col" style="margin-top: 100px;">

  <h3>Enter your details to track your order</h3>
  <form method="post" action="#" id="trackerForm">
      {% csrf_token %}
 
 
  <div class="form-row"> 
   <div class="form-group col-md-6">
    <label for="inputFirstName">Order Id</label>
      <input type="text" class="form-control"  id="orderId" name="orderId" placeholder="Order Id">
    </div>
  </div>




  
    <div class="form-group col-md-12">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
  

</form>
</div>

	<div class="col">
		<h2>Your Order Status</h2>
      <div >    <ul class="list-group" id="items">

  
</ul>
</div>

    
      <div>    <ul class="list-group" id="citems">

  
</ul>
</div> 

	</div>

	</div>





{% for i in painting %}
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
        <img src="/media/{{i.image}}" alt="The image cannot be displayed" width="150px" style="margin-left: 20px;">
    </div>
    <div class="col-md-6">
        <h1><b>{{i.name}}</b></h1>
        <h5><b>{{i.artist}}</b> </h5>
        <button  class="btn btn-danger btn-sm" type="submit" >Remove</button>
    </div>
    <div class="col-md-2">
        <h4 class="new" style="margin-top:20px;">Rs. {{i.price}}</h4>
    </div>
</div>
   <hr>
{% endfor %}




{% endblock %}




{% block js %}


<script type="text/javascript">

$('#trackerForm').submit(function (event) {

  $('#items').empty();
  var formData = {
    'orderId': $('input[name=orderId]').val(),
    'email': $('input[name=email]').val(),
    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
  };

$.ajax({

  type: 'POST',
  url: '/add_to_cart/yourorders/',
  data: formData,
  encode: true



})

.done(function(data){

      console.log(data)
      
       data = JSON.parse(data);

      updates = data[0];
      if (updates.length > 0 & updates!={}) {
      for (i=0; i < updates.length; i++) {

          let text = updates[i]['text'];

          let time = updates[i]['time'];

          mystr = `<li  class="list-group-item d-flex justify-content-between align-items-center">
              ${text}
              <span class="badge badge-primary badge-pill">${time}</span>

          </li>`
          $('#items').append(mystr);


}
} else {
  mystr = `<li  class="list-group-item d-flex justify-content-between align-items-center">
     Invalid Order Id or Email
     

  </li>`
  $('#items').append(mystr);
}


demn = JSON.parse(data[1]);
console.log(demn); 


for (item in demn) {

  let name = demn[item][1];
  let qty = demn[item][0];
  
  mystr = `<li  class="list-group-item d-flex justify-content-between align-items-center">
      ${name}
      <span class="badge badge-primary badge-pill">${qty}</span>

  </li>`
  $('#citems').append(mystr);

}



});

event.preventDefault();

});

</script>
























{% endblock %}