{% extends "formative.html" %}
{% load static %}
{% block body_block %}

   <script type="text/javascript">
   	window.addEventListener('load', () => {
	var
		carousels = document.querySelectorAll('.carousel1')
	;

	for (var i = 0; i < carousels.length; i++) {
		carousel(carousels[i]);
	}
});

function carousel(root) {
	var
		figure = root.querySelector('figure'),
		nav = root.querySelector('nav'),
		images = figure.children,
		n = images.length,
		gap = root.dataset.gap || 0,
		bfc = 'bfc' in root.dataset,

		theta =  2 * Math.PI / n,
		currImage = 0
	;

	setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
	window.addEventListener('resize', () => {
		setupCarousel(n, parseFloat(getComputedStyle(images[0]).width))
	});

	setupNavigation();

	function setupCarousel(n, s) {
		var
			apothem = s / (2 * Math.tan(Math.PI / n))
		;

		figure.style.transformOrigin = `50% 50% ${- apothem}px`;

		for (var i = 0; i < n; i++)
			images[i].style.padding = `${gap}px`;
		for (i = 1; i < n; i++) {
			images[i].style.transformOrigin = `50% 50% ${- apothem}px`;
			images[i].style.transform = `rotateY(${i * theta}rad)`;
		}
		if (bfc)
			for (i = 0; i < n; i++)
				 images[i].style.backfaceVisibility = 'hidden';

		rotateCarousel(currImage);
	}

	function setupNavigation() {
		nav.addEventListener('click', onClick, true);

		function onClick(e) {
			e.stopPropagation();

			var t = e.target;
			if (t.tagName.toUpperCase() != 'BUTTON')
				return;

			if (t.classList.contains('next')) {
				currImage++;
			}
			else {
				currImage--;
			}

			rotateCarousel(currImage);
		}

	}

	function rotateCarousel(imageIndex) {
		figure.style.transform = `rotateY(${imageIndex * -theta}rad)`;
	}

}

function myFunction() {
 swal({
  title: "Good job!",
  text: "You clicked the button!",
  icon: "success",
  button: false,
  timer: 2000,
}).then( () => {
    location.reload();
     });

}
   </script>


<div class="carousel1" data-gap="20" style=" padding-top: 50px; padding-bottom: 20px;">
	<figure>
    <img src="{% static 'images/10.jfif' %}" alt="" height="400">
		<img src="{% static 'images/2.jfif' %}" alt="" height="400" >
		<img src="{% static 'images/3.jfif' %}" alt="" height="400">
		<img src="{% static 'images/4.jfif' %}" alt="" height="400">
		<img src="{% static 'images/5.jfif' %}" alt="" height="400">
		<img src="{% static 'images/9.jfif' %}" alt="" height="400">
		<img src="{% static 'images/7.jfif' %}" alt="" height="400">
		<img src="{% static 'images/8.jfif' %}" alt="" height="400">
	</figure>
	<nav>
		<button class="nav prev">Prev</button>
		<button class="nav next">Next</button>
	</nav>
</div>
<br>
<br>

<div class="paddingpage">
<!-- Flickity HTML init -->

  <div style="width: 50%; float: left; padding-left: 50px;">
    <p class="titles">Paintings</p>
  </div>

   <div style="width: 50%; float: right;  padding-left: 560px;">
     <a href="{% url 'dynamicnav:dyna' %}" ><button type="button" class="btn btn-info" > View all</button></a>
  </div>

<hr style="background-color: grey; width: 96%; height:1px;">

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "groupCells": true }' >
  <div class="carousel-cell" style="height:200px;">
  	<div class="card" style="background-color: white;">
  <img src="{% static 'images/paint1.jpg' %}" alt="Denim Jeans" style="width:100%; height: 230px;">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>

</div>
  </div>

  <div class="carousel-cell"  style="height:200px;">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/paint2.jpg' %}" alt="Denim Jeans" style="width:100%; height: 230px; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>

</div>
  </div>
  <div class="carousel-cell" style="height: 200px;">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/paint4.jpg' %}" alt="Denim Jeans" style="width:100%; height: 230px; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>

</div>
  </div>
  <div class="carousel-cell" style="height: 200px;">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/paint5.jpg' %}" alt="Denim Jeans" style="width:100%; height: 230px; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>

</div>
  </div>
  <div class="carousel-cell" style="height: 200px;">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/paint6.jpg' %}" alt="Denim Jeans" style="width:100%; height: 230px; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>

</div>
  </div>
  <div class="carousel-cell" style="height: 200px;">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/paint7.jpg' %}" alt="Denim Jeans" style="width:100%; height: 230px; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>

</div>
  </div>
  <div class="carousel-cell" style="height: 200px;">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/paint9.jpg' %}" alt="Denim Jeans" style="width:100%; height: 230px; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>

</div>
  </div>

  <div class="carousel-cell" style="height: 200px;">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/paint10.jpg' %}" alt="Denim Jeans" style="width:100%; height: 230px; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>

</div>
  </div>

  <div class="carousel-cell" style="height: 324px;">
  		<div class="card" style="background-color: white">
  <img src="{% static 'images/paint11.jpg' %}" alt="Denim Jeans" style="width:100%;  height: 230px;">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
</div>
  </div>



</div>

  <br>
  <br>
  <br>




  <div style="width: 50%; float: left; padding-left: 50px; ">
    <p class="titles">Photographs</p>
  </div>

   <div style="width: 50%; float: right;  padding-left: 560px;">
     <a href="{% url 'photographs:Architectural' %}"><button type="button" class="btn btn-info" > View all</button></a>
  </div>

  <hr style="background-color: grey; width: 96%; height:1px;">

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "groupCells": true }' >
  <div class="carousel-cell">
  	<div class="card" style="background-color:white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>

</div>

   <br>
  <br>
  <br>




  <div style="width: 50%; float: left; padding-left: 50px;">
    <p class="titles">Posters</p>
  </div>

   <div style="width: 50%; float: right;  padding-left: 560px;">
     <a href="{% url 'forposters:corporatePosters' %}"><button type="button" class="btn btn-info" > View all</button></a>
  </div>

  <hr style="background-color: grey; width: 96%; height:1px;">

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "groupCells": true }'>
  <div class="carousel-cell">
  	<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color:white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>

</div>


 <br>
  <br>
  <br>





  <div style="width: 50%; float: left; padding-left: 50px;">
    <p class="titles">Frames</p>
  </div>

   <div style="width: 50%; float: right;  padding-left: 560px;">
     <a href="{% url 'frames:DeepSet1' %}"><button type="button" class="btn btn-info" > View all</button></a>
  </div>

  <hr style="background-color: grey; width: 96%; height:1px;">

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "groupCells": true }' >
  <div class="carousel-cell">
  	<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color:white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color:white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
  <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color:white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color: white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color:white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>
   <div class="carousel-cell">
  		<div class="card" style="background-color:white;">
  <img src="{% static 'images/two.jpg' %}" alt="Denim Jeans" style="width:100%; ">
  <h5 style="margin-top: 5px;">Tailored Jeans</h5>
  <p class="price" style="margin: 2px;">$19.99</p>
  <p class="desp">Some text about the jeans. Super slim jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
  </div>

</div>
  <br>
  <br>
  <br>

  <footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

  	  <hr style="background-color: grey; width: 96%; height:1px;">




      <div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="footerhead">About Us</p>
    </div>
    <div class="col-md-6">
      <p style="font-size: 36px; font-family; Serif; color: rgb(22, 23, 22);">Contact Us</p>

        <p style="font-size: 20px; font-family; Serif; color: rgb(22, 23, 22);">Drop in your query and we'll get back to you</p>


        <button type="submit" class="btn btn-danger" onclick="myFunction()">Submit</button>


    </div>
  </div>
      </div>

   <hr style="background-color: black; width: 40%; height: 1px;">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class='fab fa-behance-square' style='font-size:36px;color:blue; padding-right: 10px;'></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class='fab fa-dribbble' style='font-size:36px;color:rgb(22, 23, 22); padding-right: 10px;'></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus" style='font-size:36px;color:rgb(22, 23, 22); padding-right: 10px;'> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin" style='font-size:36px;color:rgb(22, 23, 22);; padding-right: 10px;'> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-facebook" style='font-size:36px;color:rgb(22, 23, 22); padding-right: 10px;'> </i>
        </a>
      </li>

    </ul>
    <!-- Social buttons -->

     <hr style="background-color: black; width: 40%; height: 1px;">

      </div>


  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 ThePainter.com:
  </div>
  <!-- Copyright -->

</footer>
</div>
{% endblock %}