{% extends "formative.html" %}
{% load static %}
{% block body_block %}

<script type="text/javascript">
   	window.addEventListener('load', () => {
	var
		carousels = document.querySelectorAll('.carousel1')
	;

	for (var i = 0; i < carousels.length; i++) {
		carousel(carousels[i]);
	}
});

function carousel(root) {
	var
		figure = root.querySelector('figure'),
		nav = root.querySelector('nav'),
		images = figure.children,
		n = images.length,
		gap = root.dataset.gap || 0,
		bfc = 'bfc' in root.dataset,

		theta =  2 * Math.PI / n,
		currImage = 0
	;

	setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
	window.addEventListener('resize', () => {
		setupCarousel(n, parseFloat(getComputedStyle(images[0]).width))
	});

	setupNavigation();

	function setupCarousel(n, s) {
		var
			apothem = s / (2 * Math.tan(Math.PI / n))
		;

		figure.style.transformOrigin = `50% 50% ${- apothem}px`;

		for (var i = 0; i < n; i++)
			images[i].style.padding = `${gap}px`;
		for (i = 1; i < n; i++) {
			images[i].style.transformOrigin = `50% 50% ${- apothem}px`;
			images[i].style.transform = `rotateY(${i * theta}rad)`;
		}
		if (bfc)
			for (i = 0; i < n; i++)
				 images[i].style.backfaceVisibility = 'hidden';

		rotateCarousel(currImage);
	}

	function setupNavigation() {
		nav.addEventListener('click', onClick, true);

		function onClick(e) {
			e.stopPropagation();

			var t = e.target;
			if (t.tagName.toUpperCase() != 'BUTTON')
				return;

			if (t.classList.contains('next')) {
				currImage++;
			}
			else {
				currImage--;
			}

			rotateCarousel(currImage);
		}

	}

	function rotateCarousel(imageIndex) {
		figure.style.transform = `rotateY(${imageIndex * -theta}rad)`;
	}

}

</script>
<style>


.imgsty{
width:200px;
height: 200px;
padding-top:1px;
}

.namesty{
margin-top: 5px;
font-family: 'Poppins', sans-serif;
color: #fffae8;
}

.price {
  color: grey;
  font-size: 16px;
  margin: -5px;
  margin: 2px;
}

.desp{
  margin: 8px;
  font-family: Poppins, sans-serif;
  color: #fffae8;
  font-size: 10px;
  margin: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  background-color: rgb(22, 23, 22)
}

.btn-grad2 {
background: linear-gradient(90deg,#232526 0%, #414345 100%);
display: block;
  height: 45px;
  width: 150px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 14px;
  text-align: center;
  border: 0px


body {
  background: #e7e8e9;
  padding: 40px;
}

</style>


<div class="carousel1" data-gap="20" style=" padding-top: 50px; padding-bottom: 20px;">
    <figure>
        <img src="{% static 'images/10.jfif' %}" alt="" height="400">
        <img src="{% static 'images/2.jfif' %}" alt="" height="400">
        <img src="{% static 'images/3.jfif' %}" alt="" height="400">
        <img src="{% static 'images/4.jfif' %}" alt="" height="400">
        <img src="{% static 'images/5.jfif' %}" alt="" height="400">
        <img src="{% static 'images/9.jfif' %}" alt="" height="400">
        <img src="{% static 'images/7.jfif' %}" alt="" height="400">
        <img src="{% static 'images/8.jfif' %}" alt="" height="400">
    </figure>
    <nav>
        <button class="nav prev">Prev</button>
        <button class="nav next">Next</button>
    </nav>
</div>
<br>

<br>
<br>


<div class="paddingpage">

    <!-- Flickity HTML init -->

    <div style="width: 50%; float: left; padding-left: 50px;">
        <p style="font-family: 'Noto Serif', serif; font-size: 28px;">Paintings</p>
    </div>

    <div style="width: 50%; float: right;  padding-left: 490px; padding-bottom: 10px;">
        <a href="{% url 'dynamicnav:dyna' %}">
            <button class="btn-grad2">Click here</button>
        </a>
    </div>

    <hr style="background-color: grey; width: 96%; height:1px;">

    <!-- Flickity HTML init -->
    <div class="carousel" data-flickity='{ "groupCells": true }'>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint1.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Kazimir Malevich</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Dynamic Suprematism</p>
            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint2.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Tailored Jeans</h5>
                <p class="price">$19.99</p>
                <p class="desp">Some text about the jeans. Super slim jeansum.</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint4.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Alpha Phi</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint5.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Yellow Islands</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card" >
                <img src="{% static 'images/paint6.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Color Strokes</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Rachana Sansadh</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card" >
                <img src="{% static 'images/paint7.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">The Times Of Abstract</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Cassian Ribeiro</p>

            </div>
        </div>
        <div class="carousel-cell" >
            <div class="card">
                <img src="{% static 'images/paint9.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Counter-Composition</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Community Artists Group</p>

            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint10.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Banya</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Victor Vasarely</p>

            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint11.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Hyena Stomp</h5>
                <p class="price" >$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>
            </div>
        </div>


    </div>

    <br>
    <br>
    <br>


    <div style="width: 50%; float: left; padding-left: 50px; ">
        <p style="font-family: 'Noto Serif', serif; font-size: 28px;">Photographs</p>
    </div>

    <div style="width: 50%; float: right;  padding-left: 490px; padding-bottom: 10px;">
        <a href="{% url 'photographs:Architectural' %}">
            <button class="btn-grad2">Click here</button>
        </a>
    </div>

    <hr style="background-color: grey; width: 96%; height:1px;">

    <!-- Flickity HTML init -->
    <div class="carousel" data-flickity='{ "groupCells": true }'>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint1.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Kazimir Malevich</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Dynamic Suprematism</p>
            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint2.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Tailored Jeans</h5>
                <p class="price">$19.99</p>
                <p class="desp">Some text about the jeans. Super slim jeansum.</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint4.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Alpha Phi</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint5.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Yellow Islands</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card" >
                <img src="{% static 'images/paint6.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Color Strokes</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Rachana Sansadh</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card" >
                <img src="{% static 'images/paint7.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">The Times Of Abstract</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Cassian Ribeiro</p>

            </div>
        </div>
        <div class="carousel-cell" >
            <div class="card">
                <img src="{% static 'images/paint9.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Counter-Composition</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Community Artists Group</p>

            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint10.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Banya</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Victor Vasarely</p>

            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint11.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Hyena Stomp</h5>
                <p class="price" >$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>
            </div>
        </div>


    </div>

    <br>
    <br>
    <br>


    <div style="width: 50%; float: left; padding-left: 50px;">
        <p style="font-family: 'Noto Serif', serif; font-size: 28px;">Posters</p>
    </div>

    <div style="width: 50%; float: right;  padding-left: 490px; padding-bottom: 10px;">
        <a href="{% url 'forposters:corporatePosters' %}">
             <button class="btn-grad2">Click here</button>
        </a>
    </div>

    <hr style="background-color: grey; width: 96%; height:1px;">

    <!-- Flickity HTML init -->
    <div class="carousel" data-flickity='{ "groupCells": true }'>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint1.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Kazimir Malevich</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Dynamic Suprematism</p>
            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint2.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Tailored Jeans</h5>
                <p class="price">$19.99</p>
                <p class="desp">Some text about the jeans. Super slim jeansum.</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint4.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Alpha Phi</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint5.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Yellow Islands</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card" >
                <img src="{% static 'images/paint6.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Color Strokes</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Rachana Sansadh</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card" >
                <img src="{% static 'images/paint7.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">The Times Of Abstract</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Cassian Ribeiro</p>

            </div>
        </div>
        <div class="carousel-cell" >
            <div class="card">
                <img src="{% static 'images/paint9.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Counter-Composition</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Community Artists Group</p>

            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint10.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Banya</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Victor Vasarely</p>

            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint11.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Hyena Stomp</h5>
                <p class="price" >$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>
            </div>
        </div>


    </div>


    <br>
    <br>
    <br>


    <div style="width: 50%; float: left; padding-left: 50px;">
        <p style="font-family: 'Noto Serif', serif; font-size: 28px;">Frames</p>
    </div>

    <div style="width: 50%; float: right;  padding-left: 490px; padding-bottom: 10px;">
        <a href="{% url 'frames:DeepSet1' %}">
             <button class="btn-grad2">Click here</button>
        </a>
    </div>

    <hr style="background-color: grey; width: 96%; height:1px;">

    <!-- Flickity HTML init -->
    <div class="carousel" data-flickity='{ "groupCells": true }'>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint1.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Kazimir Malevich</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Dynamic Suprematism</p>
            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint2.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Tailored Jeans</h5>
                <p class="price">$19.99</p>
                <p class="desp">Some text about the jeans. Super slim jeansum.</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint4.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Alpha Phi</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint5.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Yellow Islands</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card" >
                <img src="{% static 'images/paint6.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Color Strokes</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Rachana Sansadh</p>

            </div>
        </div>
        <div class="carousel-cell">
            <div class="card" >
                <img src="{% static 'images/paint7.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">The Times Of Abstract</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Cassian Ribeiro</p>

            </div>
        </div>
        <div class="carousel-cell" >
            <div class="card">
                <img src="{% static 'images/paint9.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Counter-Composition</h5>
                <p class="price" style="margin: 2px;">$19.99</p>
                <p class="desp">Artist: Community Artists Group</p>

            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint10.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Banya</h5>
                <p class="price">$19.99</p>
                <p class="desp">Artist: Victor Vasarely</p>

            </div>
        </div>

        <div class="carousel-cell">
            <div class="card">
                <img src="{% static 'images/paint11.jpg' %}" alt="Denim Jeans" class="imgsty">
                <h5 class="namesty">Hyena Stomp</h5>
                <p class="price" >$19.99</p>
                <p class="desp">Artist: Jackson Pollock</p>
            </div>
        </div>


    </div>
    <br>
    <br>
    <br>


    <footer class="page-footer font-small special-color-dark pt-4" style="background: black">



        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 TheArtisan.com</div>
        <!-- Copyright -->

    </footer>
</div>
{% endblock %}