{% extends "formative.html" %}
{% load static %}
{% block body_block %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}
</style>


<div class="container-fluid">
  <div class="row d-sm-flex align-items-center justify-content-between">
    <div class="col-md-6 order-2 order-sm-1 p-3 p-sm-5">
      <div class="p-0 p-sm-5" style="margin-left: 2em; margin-top: 1em;">
        <small class="text-uppercase" style="color: #9B5DE5;">THE ARTISAN</small>
      <h1 class="mb-4 display-4" style="font-weight: 600;">Privacy policy and terms of use</h1>

      <p class="text-secondary" style="line-height: 2;">The Artisan is committed to protecting your privacy when you visit our websites or use a The Artisan kiosk or application (collectively referred to as the “The Artisan website”). By using The Artisan website, you agree to be bound by the terms and conditions of The Artisan’s Privacy Policy and Terms of Use. The Artisan Privacy Policy is outlined below. A link to this policy is provided in the footer information on every page of The Artisan website. View the Terms of Use.</p>

      <h1 class="mb-4 display-4" style="font-weight: 600;">Online memberships and donations</h1>

      <p class="text-secondary" style="line-height: 2;">When you purchase a The Artisan membership or make a donation to The Artisan online, we will ask you to provide us with the information we need to process your membership and/or to acknowledge your contribution.
We will retain your personally identifiable information for our records, in order to facilitate better customer service. We do not store credit card numbers. To process payments for members who have selected automatic renewal, The Artisan will retain payment information using tokenization technology for enhanced security. </p>


      </div>
    </div>
    <div class="w-100 col-md-6 order-1 order-sm-2" style="background-image: url(s2.jpg); height: 200vh; min-height: 100px; margin-top: -20em; background-position:center; background-size: cover;"></div>
  </div>
</div>

{% endblock %}