{% extends "formative.html" %}
{% load static %}
{% block body_block %}

<style>
  @font-face {
  font-family: 'Canela';
  src: url("https://rawcdn.githack.com/ricardoolivaalonso/Feinkoch/1a9843dce0cdcb756abaed876e99d9f6b6dae438/public/fonts/Canela-Thin-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Korpus-A';
  src: url("https://rawcdn.githack.com/ricardoolivaalonso/Feinkoch/1a9843dce0cdcb756abaed876e99d9f6b6dae438/public/fonts/KorpusGrotesk-A.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Korpus-B';
  src: url("https://rawcdn.githack.com/ricardoolivaalonso/Feinkoch/1a9843dce0cdcb756abaed876e99d9f6b6dae438/public/fonts/KorpusGrotesk-B.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}


  .navbar{
         box-shadow: 0 0 1px #333;
  border-style: none;
  background: linear-gradient(to right, #CB356B 0%, #BD3F32  100%);
  color: white;
  opacity: 0.95;
  height: 40px;
  margin: 0;
  padding: 0;
        }



*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  font-family: "Canela", Times, serif;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 1.2px;
  font-weight: 400;
}
@media (min-width: 770px) {
  h1 {
    max-width: 400px;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: 2px;
    text-align: center;
  }
}

h2 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 400;
}

input {
  font-family: 'Korpus-A', sans-serif;
}

img {
  max-width: 100%;
}


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
  background-color: #F8F8F8;
}
@media (min-width: 770px) {
  .banner {
    margin-top: 120px;
  }
}
@media (min-width: 1024px) {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin-top: 30px;
    height: 53vw;
  }
}
@media (min-width: 1200px) {
  .banner {
    height: 50vw;
  }
}
@media (min-width: 1400px) {
  .banner {
    height: 45vw;
  }
}

.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 80px 20px;
  border-bottom: 1px solid #ededed;
}
@media (min-width: 770px) {
  .recipe {
    padding: 80px 50px;
  }
}

.icon {
  object-fit: contain;
  width: 30px;
}
.icon-n {
  width: 130px;
  margin-bottom: 20px;
}

.palette {
  display: flex;
  justify-content: space-between;
  width: 24px;
  /****************/
}
.palette__color {
  height: 6px;
  width: 6px;
  border-radius: 50%;
}
.palette-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.palette-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px;
  padding: 4px 10px;
  border-radius: 2px;
  border: 1px solid #ededed;
}
.palette-item:hover {
  border: 1px solid #242424;
  transition: 0.3s ease;
  cursor: pointer;
}
.palette-item__bg {
  display: flex;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #B4C8C6;
  margin-right: 10px;
}
.palette-item__name {
  font-family: 'Korpus-B', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.recipe {
  background-color: #ffffff;
  margin-top: -100px;
}
.recipe__title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 770px) {
  .recipe__title {
    font-size: 40px;
font-family: 'Korpus-B', sans-serif;
    line-height: 42px;
  }
}
.recipe-list {

  display: flex;
  width: 100%;
  margin: 40px 0;
  overflow: hidden;
}
.recipe-scroll {
  display: flex;
  overflow-x: scroll;
}
@media (min-width: 1024px) {
  .recipe-scroll {
    overflow: hidden;
  }
}
.recipe-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 65vw;
  margin-right: 40px;
  flex-shrink: 0;
}
@media (min-width: 770px) {
  .recipe-item {
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .recipe-item {
    max-width: calc(25% - 30px );
  }
}
.recipe-item__bg {
  overflow: hidden;
  transition: .15s;
  cursor: pointer;
}
.recipe-item__bg:hover .recipe-item__img {
  transform: scale(1.025);
  transition: 0.3s ease;
}
.recipe-item__img {
  object-fit: cover;
  max-width: 100%;
}
.recipe-item__name {
  font-size: 22px;
  line-height: 26px;
  margin: 20px 0;
}

.header-container {
  align-items: center;
  width: 100%;
  height: 60%;
}
@media (min-width: 1024px) {
  .header-container {
    margin: 0 auto;
    max-width: 1400px;
    background-color: #E3DAD0;
  }
}
.header__logo {

  width: 190px;
  opacity: 1;
  transition: 0.3s ease 0.15s;
}
@media (min-width: 770px) {
  .header__logo {
    width: 400px;

  }
}




.banner__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  height: 46vmax;
  padding: 20px;
}
@media (min-width: 1024px) {
  .banner__info {
    height: 100%;
    width: 35%;
  }
  .banner__info::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 10vw;
    width: 2px;
    background-color: rgba(36, 36, 36, 0.5);
  }
}
.banner__title {
  margin-top: 25px;
  margin-right: 8em;
}
.banner__description {
  margin: 10px 0;
  font-size: 20px;


}
@media (min-width: 1024px) {
  .banner__description {
    max-width: 300px;
    text-align: center;
      margin-left: -20em;


  }
}
.banner__img {
  width: 100%;
  height: 37vmax;
  margin-left: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 770px) {
  .banner__img {
    height: 60vw;
  }
}
@media (min-width: 1024px) {
  .banner__img {
    height: 100%;
    width: 65%;
  }
}



.palette-title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 770px) {
  .palette-title {

    width: auto;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .is-header-hidden {
    transform: translateY(-125px);
    transition: 0.3s ease;
  }
}

@media (min-width: 1024px) {
  .is-logo-hidden {
    opacity: 0;
    transform: scale(0.8);
    transition: 0.3s ease;
  }
}

</style>


     
         <div style=" padding-top: 40px;" class="header-container"><img class="header__logo" id="logo"  src="{% static 'images/logo2.png' %}" alt="Logo de Feinkoch">
          </div>
      </header>
      <section class="banner" >
        <div class="banner__info">
          <div class="palette" style="margin-left: -25em;"><span class="palette__color" style="background-color:#e5d7ac"></span><span class="palette__color" style="background-color:#e7c291"></span><span class="palette__color" style="background-color:#aed9b7"></span></div>
          <h1 class="banner__title">Madhubani Art</h1>
          <p class="banner__description">Natural colours used in Madhubani painting before the advent of industrial colours always convey a softer, more harmonized appearance. Even while the naturally made pinks, blues and yellows are vivid, in contrast to the chemical based colours of today, they lack the touch of nature and artists stepping out into the marketplace cater more to popular taste than those of the cognoscenti.</p>
        </div>
        <div class="banner__img" ><img src="/static/images/lady.jpg" class="banner__img"></div>
      </section>
      <main class="main">
        <br>
          <h2 class="recipe__title" style="font-family: Canela, Times, serif;">Featured Folk Art</h2>

          <div class="recipe-list" style="padding: 10px;">
            <div class="recipe-scroll">
              {% for i in madhubani%}

              <article class="recipe-item">
                  <a href="/madhubani/madhubani_description/{{i.painting_id}}" style="text-decoration:none; color: black;">
                <div class="recipe-item__bg"><img class="recipe-item__img" src="/media/{{i.image}}" alt="Foto de receta"></div><span class="recipe-item__name">{{i.name}}</span><span style="float:right;">Rs. {{i.price}}</span>
                <div class="palette"><span class="palette__color" style="background-color:#e5d7ac"></span><span class="palette__color" style="background-color:#e7c291"></span><span class="palette__color" style="background-color:#aed9b7"></span></div>
              </article>
                </a>
             {% endfor%}
            </div>
          </div>
        </section>


      </main>



{% endblock %}