{% extends "basic.html" %}
{% load static %}


{% block body_block %}

<div class="sidenav" style="margin-top:50px;">
    <a href="{% url 'dynamicnav:dyna' %}">Abstract</a>
    <a href="{% url 'dynamicnav:wildlifepaintings' %}">Wildlife</a>
    <a href="{% url 'dynamicnav:pastelpaintings' %}">Pastel</a>
    <a href="{% url 'dynamicnav:inkpaintings' %}">Ink</a>
</div>

<div class="" style="padding-top:50px;  padding-left: 200px;  padding-right: 20px; ">
    {% block content %}
    <p style="font-family: 'Noto Serif', serif; font-size: 3vw; text-align: center;">Wildlife Paintings</p>
    <hr style="width: 90%">
    {% endblock %}
    <div class="row">
        {% for i in wildlifepainting %}
        <div class="col-md-3">
            <div class="container" style="background-image:url(/media/{{i.image}}); width: 250px; ">
                <a href="/dyna/wildlife_description/{{i.painting_id}}" style="text-decoration:none; color: white;">
                    <div class="overlay">
                        <div class="items"></div>
                        <div class="items head">
                            <p id="namewildlife{{i.painting_id}}"><b>{{i.name}}</b></p>
                            <h5>{{i.artist}} </h5>
                            <h6 style="padding: 5px;">{{i.small_description}}</h6>
                            <div class="items price">
                                <p class="old">Rs. {{i.cancelled_price}}</p>
                                <p  class="new">Rs. <span id="pricewildlife{{i.painting_id}}">  {{i.price}}</span></p>
                            </div>
                            </a>
                            <hr>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="items cart">
<span id="divwildlife{{i.painting_id}}" class="divwildlife">
                        <button  id="wildlife{{i.painting_id}}" class="btn btn-danger btn-sm wild">Add to Cart</button>
                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="items cart">

                                            <button class="btn btn-danger btn-sm">Buy Now</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}



{% block js %}

<script>


if(localStorage.getItem('wild') == null) {
  var wild = {};

}
else {


  wild = JSON.parse(localStorage.getItem('wild'));
  updateCart(wild);


}

// $('.wild').click(function(){

$('.divwildlife').on('click', 'button.wild', function(){



var idstr = this.id.toString();


if (wild[idstr] != undefined) {
    qty = wild[idstr][0] + 1;

}
else {
  qty = 1;
    name = document.getElementById('name' + idstr).innerHTML;
    price = document.getElementById('price' + idstr).innerHTML;

    wild[idstr] = [qty, name, parseInt(price)];

    // localStorage.setItem( 'wild',  wild[idstr] );


}
console.log(wild[idstr])
updateCart(wild);


});



function clearCart(){


  wild = JSON.parse(localStorage.getItem('wild'));
  for (var item in wild) {
    document.getElementById('div' + item).innerHTML = '<button  id="'+ item +'" class="btn btn-danger btn-sm wild">Add to Cart</button>'
  }
  localStorage.clear();
  wild = {};
  updateCart(wild);


}

updatePopover(wild);
function updatePopover(wild) {





  popstrs4 = popstrs4 + "<div><h5 id='styling'> Your Products </h5></div><hr><div class=''>";
  var popstr = "";
  var popstrs = "";
  var popstrs1 = "";
  var popstrs2 = "";
  var popstrs3 = "";
  var popstrs4 = "";
  var popstrink = "";
  var popstrpastel = "";
  var i = 1;

  for (var item in JSON.parse(localStorage.getItem("shit"))) {


    popstr = popstr + "<strong>" + i + "</strong>. " ;
    popstr = popstr + JSON.parse(localStorage.getItem("shit"))[item][1] + "<span style='float: right;'>Rs. " + JSON.parse(localStorage.getItem("shit"))[item][2] +"</span><br>" + "Qty: " + JSON.parse(localStorage.getItem("shit"))[item][0] + "<hr>";
    i = i + 1;


  }

   for (var item in JSON.parse(localStorage.getItem("showstr"))) {
    popstrs1 = popstrs1 + "<strong>" + i + "</strong>. " ;
    popstrs1 = popstrs1 + JSON.parse(localStorage.getItem("showstr"))[item][1] + "<span style='float: right;'>Rs. "+ JSON.parse(localStorage.getItem("showstr"))[item][2] +"</span><br>" +  "Qty: " + JSON.parse(localStorage.getItem("showstr"))[item][0] + "<hr>";
    i = i + 1;
  }


 for (var item in JSON.parse(localStorage.getItem("deepstr"))) {
    popstrs2 = popstrs2 + "<strong>" + i + "</strong>. " ;
    popstrs2 = popstrs2 +JSON.parse(localStorage.getItem("deepstr"))[item][1] + "<span style='float: right;'>Rs. "+ JSON.parse(localStorage.getItem("deepstr"))[item][2] +"</span><br>" +  "Qty: " + JSON.parse(localStorage.getItem("deepstr"))[item][0] + "<hr>";
    i = i + 1;
  }

  for (var item in JSON.parse(localStorage.getItem("floatingstr"))) {
    popstrs3 = popstrs3 + "<strong>" + i + "</strong>. " ;
    popstrs3 = popstrs3 + JSON.parse(localStorage.getItem("floatingstr"))[item][1] + "<span style='float: right;'>Rs. "+ JSON.parse(localStorage.getItem("floatingstr"))[item][2] +"</span><br>" +  "Qty: " + JSON.parse(localStorage.getItem("floatingstr"))[item][0] + "<hr>";
    i = i + 1;
  }


  for (var item in JSON.parse(localStorage.getItem("demn"))) {
    popstrs = popstrs + "<strong>" + i + "</strong>. " ;
    popstrs = popstrs + JSON.parse(localStorage.getItem("demn"))[item][1] + "<span style='float: right;'>Rs.  " + JSON.parse(localStorage.getItem("demn"))[item][2] + "</span><br>" + "Qty: " + JSON.parse(localStorage.getItem("demn"))[item][0] + "<hr>";
    i = i + 1;
  }

   for (var item in JSON.parse(localStorage.getItem("ink"))) {
    popstrink = popstrink + "<strong>" + i + "</strong>. " ;
    popstrink = popstrink + JSON.parse(localStorage.getItem("ink"))[item][1] + "<span style='float: right;'>Rs.  " + JSON.parse(localStorage.getItem("ink"))[item][2] + "</span><br>" + "Qty: " + JSON.parse(localStorage.getItem("ink"))[item][0] + "<hr>";
    i = i + 1;
  }


   for (var item in JSON.parse(localStorage.getItem("pastel"))) {
    popstrpastel = popstrpastel + "<strong>" + i + "</strong>. " ;
    popstrpastel = popstrpastel + JSON.parse(localStorage.getItem("pastel"))[item][1] + "<span style='float: right;'>Rs.  " + JSON.parse(localStorage.getItem("pastel"))[item][2] + "</span><br>" + "Qty: " + JSON.parse(localStorage.getItem("pastel"))[item][0] + "<hr>";
    i = i + 1;
  }




  for (var item in wild) {



    popstrs4 = popstrs4 + "<strong>" + i + "</strong>. " ;
    popstrs4 = popstrs4 + document.getElementById('name' + item ).innerHTML + "<span style='float: right;'>Rs. " + wild[item][2] + "</span><br>" + "Qty: "+ wild[item][0]+ "<hr>";
    i = i + 1;



  }



   dello =  popstr + popstrs + popstrs1 + popstrs2 + popstrs3 + popstrs4 + popstrink + popstrpastel +"</div> <a href='/add_to_cart/add_to_cart'> <button class='gradbt' id='checkout'><span>Checkout</span></button></a>  <button class='gradbt' onclick='clearCart()' id='clearCart'><span class='lnr lnr-trash'></span></button></a>  "

  document.getElementById('popcart').setAttribute('data-content', dello);
   $('#popcart').popover('toggle');

}


function updateCart(wild) {

  var sum = 0;

  for (var item in wild) {

    sum = sum + wild[item][0];
    document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-danger btn-sm minus' > - </button>  <span id='val" + item + "''>" + wild[item][0] + " </span> <button id='plus" + item + "' class='btn btn-danger btn-sm  plus'> + </button>";

  }

  for (var item in JSON.parse(localStorage.getItem("shit"))) {

    sum = sum + JSON.parse(localStorage.getItem("shit"))[item][0];

  }

  for (var item in JSON.parse(localStorage.getItem("showstr"))) {

    sum = sum + JSON.parse(localStorage.getItem("showstr"))[item][0];

  }

  for (var item in JSON.parse(localStorage.getItem("deepstr"))) {

    sum = sum + JSON.parse(localStorage.getItem("deepstr"))[item][0];

  }

   for (var item in JSON.parse(localStorage.getItem("floatingstr"))) {

    sum = sum + JSON.parse(localStorage.getItem("floatingstr"))[item][0];

  }

 for (var item in JSON.parse(localStorage.getItem("demn"))) {

    sum = sum + JSON.parse(localStorage.getItem("demn"))[item][0];

  }

  for (var item in JSON.parse(localStorage.getItem("ink"))) {

    sum = sum + JSON.parse(localStorage.getItem("ink"))[item][0];

  }

  for (var item in JSON.parse(localStorage.getItem("pastel"))) {

    sum = sum + JSON.parse(localStorage.getItem("pastel"))[item][0];

  }



  localStorage.setItem('wild', JSON.stringify(wild));




  document.getElementById('demn').innerHTML = sum;

  console.log(wild);
  updatePopover(wild);

}


$(".divwildlife").on("click" ,"button.minus", function(){


a = this.id.slice(13, );
console.log(a);
wild["wildlife" + a][0] = wild["wildlife" + a][0] - 1;
wild["wildlife" + a][0] = Math.max(0, wild["wildlife" + a][0]);

document.getElementById('valwildlife' + a).innerHTML = wild['wildlife' + a][0];

// if (wild["painting" + a][0] == 0) {

//     document.getElementById('divwildlife' + a).innerHTML = '<button id="painting' + '{{i.painting_id}}' + '" class="btn btn-danger btn-sm">Add to Cart</button>'
//     delete  wild['painting' + a];

//   }
// else {
//     document.getElementById('valpainting' + a).innerHTML = wild['painting' + a][0];

//   }
  updateCart(wild);



});



$('.divwildlife').on("click", "button.plus", function(){


  a = this.id.slice(12, );

  wild["wildlife" + a][0] = wild["wildlife" + a][0] + 1;
  wild["wildlife" + a][0] = Math.max(0, wild["wildlife" + a][0]);
  document.getElementById('valwildlife' + a).innerHTML = wild['wildlife' + a][0];
  updateCart(wild);

});


</script>
{% endblock %}
