{% extends "base.html" %}
{% load static %}
{% block body_block %}
<br>
<br>
<br>
<div class="row">
    <div class="col-md-6">
        <img src="/media/{{painting.image}}" alt="" width="650px" height="540px" class="img-fluid"
             style="padding-left: 20px;">
        <br>
        <br>
        <button type="button" class="btn btn-default btn-lg btn-block" style="width:96%; margin-left:20px;"><span class="glyphicon glyphicon-info-sign"></span> For more information on this product and our services please click here</button>

    </div>
    <div class="col-md-6">
        <p style="font-size: 60px;">{{painting.name}}</p>
        <h4> ARTIST: {{painting.artist}}</h4>
        <hr>
        <p style="font-size: 18px;">MRP: &#8377;{{painting.cancelled_price}} </p>
        <p style="font-size: 20px;">Our price:<span
                style="color:tomato; font-size: 20px;"> &#8377;{{painting.price}}</span></p>
        <br>
        <div>
             <form action="/add_to_cart/add_to_cart/" method="POST">
                 {% csrf_token %}
                 <input type="hidden" name="i_id" value="{{i.painting_id}}">
                 <button  type="button" class="btn btn-danger btn-lg btn-block" type="submit">Add to Cart</button>
             </form>
        </div>
        <button type="button" class="btn btn-default btn-lg btn-block">Buy Now</button>

        <br>
        <div class="row">
            <div class="col-md-6">
                <div style="border-radius: 10px 30px 10px 5px; background: DodgerBlue;">
                    <p style="font-size: 25px; color: white; padding-left: 20px">Description</p>
                </div>
                <br>
                <p style="font-size: 16px;">{{painting.description}}</p>
            </div>
            <div class="col-md-6">
                <div style="border-radius: 30px 10px 5px 10px; background: DodgerBlue;">
                    <p style="font-size: 25px; color: white; padding-left: 30px">Specifications</p>
                </div>
                <br>
                <p style="font-size: 16px;">{{painting.specifications}}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}