{% extends "basic.html" %}
{% load static %}


{% block body_block %}

<div class="sidenav" style="margin-top:50px;">
    <a href="{% url 'dynamicnav:dyna' %}">Abstract</a>
    <a href="{% url 'dynamicnav:wildlifepaintings' %}">Wildlife</a>
    <a href="{% url 'dynamicnav:pastelpaintings' %}">Pastel</a>
    <a href="{% url 'dynamicnav:inkpaintings' %}">Ink</a>
</div>

<div class="" style="padding-top:50px;  padding-left: 200px;  padding-right: 20px; ">
    {% block content %}
    <p style="font-family: 'Noto Serif', serif; font-size: 3vw; text-align: center;">Pastel Paintings</p>
    <hr style="width: 90%">
    {% endblock %}
    <div class="row">
        {% for i in pastelpainting %}
        <div class="col-md-3">
            <div class="container" style="background-image:url(/media/{{i.image}}); width: 250px; ">
                <a href="/dyna/pastel_description/{{i.painting_id}}" style="text-decoration:none; color: white;">
                    <div class="overlay">
                        <div class="items"></div>
                        <div class="items head">
                            <p id="namepastelpaint{{i.painting_id}}"><b>{{i.name}}</b></p>
                            <h5>{{i.artist}} </h5>
                            <h6 style="padding: 5px;">{{i.small_description}}</h6>
                            <div class="items price">
                                <p class="old">Rs. {{i.cancelled_price}}</p>
                                <p  class="new">Rs. <span id="pricepastelpaint{{i.painting_id}}">  {{i.price}}</span></p>
                            </div>
                            </a>
                            <hr>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="items cart">
<span id="divpastelpaint{{i.painting_id}}" class="divpastelpaint">
                        <button  id="pastelpaint{{i.painting_id}}" class="btn btn-danger btn-sm pastel">Add to Cart</button>
                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="items cart">

                                            <button class="btn btn-danger btn-sm">Buy Now</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}



{% block js %}

<script>


if(localStorage.getItem('pastel') == null) {
  var pastel = {};

}
else {


  pastel = JSON.parse(localStorage.getItem('pastel'));
  updateCart(pastel);


}

// $('.pastel').click(function(){

$('.divpastelpaint').on('click', 'button.pastel', function(){



var idstr = this.id.toString();


if (pastel[idstr] != undefined) {
    qty = pastel[idstr][0] + 1;

}
else {
  qty = 1;
    name = document.getElementById('name' + idstr).innerHTML;
    price = document.getElementById('price' + idstr).innerHTML;

    pastel[idstr] = [qty, name, parseInt(price)];

    // localStorage.setItem( 'pastel',  pastel[idstr] );


}
console.log(pastel[idstr])
updateCart(pastel);


});



function clearCart(){


  pastel = JSON.parse(localStorage.getItem('pastel'));
  for (var item in pastel) {
    document.getElementById('div' + item).innerHTML = '<button  id="'+ item +'" class="btn btn-danger btn-sm pastel">Add to Cart</button>'
  }
  localStorage.clear();
  pastel = {};
  updateCart(pastel);


}

updatePopover(pastel);
function updatePopover(pastel) {





  popstrpastel = popstrpastel + "<div><h5 id='styling'> Your Products </h5></div><hr><div class=''>";
  var popstr = "";
  var popstrs = "";
  var popstrs1 = "";
  var popstrs2 = "";
  var popstrs3 = "";
  var popstrs4 = "";
  var popstrs5 = "";
  var popstrink = "";
  var popstrpastel = "";
  var i = 1;

  for (var item in JSON.parse(localStorage.getItem("shit"))) {


    popstr = popstr + "<strong>" + i + "</strong>. " ;
    popstr = popstr + JSON.parse(localStorage.getItem("shit"))[item][1] + "<span style='float: right;'>Rs. " + JSON.parse(localStorage.getItem("shit"))[item][2] +"</span><br>" + "Qty: " + JSON.parse(localStorage.getItem("shit"))[item][0] + "<hr>";
    i = i + 1;


  }

   for (var item in JSON.parse(localStorage.getItem("showstr"))) {
    popstrs1 = popstrs1 + "<strong>" + i + "</strong>. " ;
    popstrs1 = popstrs1 + JSON.parse(localStorage.getItem("showstr"))[item][1] + "<span style='float: right;'>Rs. "+ JSON.parse(localStorage.getItem("showstr"))[item][2] +"</span><br>" +  "Qty: " + JSON.parse(localStorage.getItem("showstr"))[item][0] + "<hr>";
    i = i + 1;
  }


 for (var item in JSON.parse(localStorage.getItem("deepstr"))) {
    popstrs2 = popstrs2 + "<strong>" + i + "</strong>. " ;
    popstrs2 = popstrs2 +JSON.parse(localStorage.getItem("deepstr"))[item][1] + "<span style='float: right;'>Rs. "+ JSON.parse(localStorage.getItem("deepstr"))[item][2] +"</span><br>" +  "Qty: " + JSON.parse(localStorage.getItem("deepstr"))[item][0] + "<hr>";
    i = i + 1;
  }

  for (var item in JSON.parse(localStorage.getItem("floatingstr"))) {
    popstrs3 = popstrs3 + "<strong>" + i + "</strong>. " ;
    popstrs3 = popstrs3 + JSON.parse(localStorage.getItem("floatingstr"))[item][1] + "<span style='float: right;'>Rs. "+ JSON.parse(localStorage.getItem("floatingstr"))[item][2] +"</span><br>" +  "Qty: " + JSON.parse(localStorage.getItem("floatingstr"))[item][0] + "<hr>";
    i = i + 1;
  }


  for (var item in JSON.parse(localStorage.getItem("demn"))) {
    popstrs = popstrs + "<strong>" + i + "</strong>. " ;
    popstrs = popstrs + JSON.parse(localStorage.getItem("demn"))[item][1] + "<span style='float: right;'>Rs.  " + JSON.parse(localStorage.getItem("demn"))[item][2] + "</span><br>" + "Qty: " + JSON.parse(localStorage.getItem("demn"))[item][0] + "<hr>";
    i = i + 1;
  }

   for (var item in JSON.parse(localStorage.getItem("ink"))) {
    popstrink = popstrink + "<strong>" + i + "</strong>. " ;
    popstrink = popstrink + JSON.parse(localStorage.getItem("ink"))[item][1] + "<span style='float: right;'>Rs.  " + JSON.parse(localStorage.getItem("ink"))[item][2] + "</span><br>" + "Qty: " + JSON.parse(localStorage.getItem("ink"))[item][0] + "<hr>";
    i = i + 1;
  }

     for (var item in JSON.parse(localStorage.getItem("wild"))) {
    popstrs5 = popstrs5 + "<strong>" + i + "</strong>. " ;
    popstrs5 = popstrs5 + JSON.parse(localStorage.getItem("wild"))[item][1] + "<span style='float: right;'>Rs.  " + JSON.parse(localStorage.getItem("wild"))[item][2] + "</span><br>" + "Qty: " + JSON.parse(localStorage.getItem("wild"))[item][0] + "<hr>";
    i = i + 1;
  }





  for (var item in pastel) {

    popstrs4 = popstrs4 + "<strong>" + i + "</strong>. " ;
    popstrs4 = popstrs4 + document.getElementById('name' + item ).innerHTML + "<span style='float: right;'>Rs. " + pastel[item][2] + "</span><br>" + "Qty: "+ pastel[item][0]+ "<hr>";
    i = i + 1;



  }



   dello =  popstr + popstrs + popstrs1 + popstrs2 + popstrs3 + popstrs4 + popstrs5 + popstrink + popstrpastel + "</div> <a href='/add_to_cart/add_to_cart'> <button class='gradbt' id='checkout'><span>Checkout</span></button></a>  <button class='gradbt' onclick='clearCart()' id='clearCart'><span class='lnr lnr-trash'></span></button></a>  "

  document.getElementById('popcart').setAttribute('data-content', dello);
   $('#popcart').popover('toggle');

}


function updateCart(pastel) {

  var sum = 0;

  for (var item in pastel) {

    sum = sum + pastel[item][0];
    document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-danger btn-sm minus' > - </button>  <span id='val" + item + "''>" + pastel[item][0] + " </span> <button id='plus" + item + "' class='btn btn-danger btn-sm  plus'> + </button>";

  }

  for (var item in JSON.parse(localStorage.getItem("shit"))) {

    sum = sum + JSON.parse(localStorage.getItem("shit"))[item][0];

  }

  for (var item in JSON.parse(localStorage.getItem("showstr"))) {

    sum = sum + JSON.parse(localStorage.getItem("showstr"))[item][0];

  }

  for (var item in JSON.parse(localStorage.getItem("deepstr"))) {

    sum = sum + JSON.parse(localStorage.getItem("deepstr"))[item][0];

  }

   for (var item in JSON.parse(localStorage.getItem("floatingstr"))) {

    sum = sum + JSON.parse(localStorage.getItem("floatingstr"))[item][0];

  }

 for (var item in JSON.parse(localStorage.getItem("demn"))) {

    sum = sum + JSON.parse(localStorage.getItem("demn"))[item][0];

  }

   for (var item in JSON.parse(localStorage.getItem("wild"))) {

    sum = sum + JSON.parse(localStorage.getItem("wild"))[item][0];

  }



   for (var item in JSON.parse(localStorage.getItem("ink"))) {

    sum = sum + JSON.parse(localStorage.getItem("ink"))[item][0];

  }



  localStorage.setItem('pastel', JSON.stringify(pastel));




  document.getElementById('demn').innerHTML = sum;

  console.log(pastel);
  updatePopover(pastel);

}


$(".divpastelpaint").on("click" ,"button.minus", function(){


a = this.id.slice(16, );
console.log(a);
pastel["pastelpaint" + a][0] = pastel["pastelpaint" + a][0] - 1;
pastel["pastelpaint" + a][0] = Math.max(0, pastel["pastelpaint" + a][0]);

document.getElementById('valpastelpaint' + a).innerHTML = pastel['pastelpaint' + a][0];

// if (pastel["painting" + a][0] == 0) {

//     document.getElementById('divpastelpaint' + a).innerHTML = '<button id="painting' + '{{i.painting_id}}' + '" class="btn btn-danger btn-sm">Add to Cart</button>'
//     delete  pastel['painting' + a];

//   }
// else {
//     document.getElementById('valpainting' + a).innerHTML = pastel['painting' + a][0];

//   }
  updateCart(pastel);



});



$('.divpastelpaint').on("click", "button.plus", function(){


  a = this.id.slice(15, );

  pastel["pastelpaint" + a][0] = pastel["pastelpaint" + a][0] + 1;
  pastel["pastelpaint" + a][0] = Math.max(0, pastel["pastelpaint" + a][0]);
  document.getElementById('valpastelpaint' + a).innerHTML = pastel['pastelpaint' + a][0];
  updateCart(pastel);

});


</script>
{% endblock %}
