{% extends "base.html" %}


{% load static %}


{% block body_block %}




<div class="sidenav" style="margin-top:50px;">
    <a href="{% url 'dynamicnav:dyna' %}">Abstract</a>
    <a href="{% url 'dynamicnav:wildlifepaintings' %}">Wildlife</a>
    <a href="{% url 'dynamicnav:pastelpaintings' %}">Pastel</a>
    <a href="{% url 'dynamicnav:inkpaintings' %}">Ink</a>
</div>

<div class="" style="padding-top:20px; ">
    <p style="font-size:60px; font-family: serif; text-align: center; ">Pastel Paintings</p>
    <hr style="width: 90%">
    <div class="row">
        {% for i in pastelpainting %}
        <div class="col-sm">
            <div class="mcard ">


                <div class="card"
                     style=" background-color: #e3e3e3; width:316px; height:420px; padding-bottom: 20px; margin-bottom: 30px;">

                    <img src="/media/{{i.image}}" width="316" height="316" alt="">
                    <div class="container">
                        <div></div>
                        <h4><b>{{i.name}}</b></h4>
                        <p>{{i.artist}}</p>


                        <a href="#">
                            <button>Add to Cart</button>
                        </a>


                    </div>


                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>


{% endblock %}
<br>
